@{
    ViewData["Title"] = "AddItem";
}

@model Mission08_Team12.Models.ToDo

<div class="text-center">
    <form method="post">
        <div asp-validation-summary="All"></div>

        <input asp-for="ToDoID" hidden />

        <label asp-for="Task">Task:</label>
        <input asp-for="Task" />
        <br />

        <label asp-for="DueDate">Due Date:</label>
        <input type="date" asp-for="DueDate" />
        <br />

        <label asp-for="Quadrant">Quadrant:</label>
        <select asp-for="QuadrantId">
            @foreach (var q in ViewBag.Quadrants)
            {
                <option value="@q.Id">@q.QuadrantName</option>
            }
        </select>
        <br />

        <label asp-for="Category">Category:</label>
        <select asp-for="CategoryID">
            @foreach (var c in ViewBag.ToDoCategories)
            {
                <option value="@c.CategoryID">@c.CategoryName</option>
            }
        </select>
        <br />

        <label asp-for="Completed">Completed:</label>
        <input type="checkbox" asp-for="Completed" />
        <br />

        <button type="submit" class="btn-primary">Save</button>
    </form>
</div>