@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Putting First Things First</h2>
    <br />
    <h6>
        In the book “The 7 Habits of Highly Effective People”, Steven Covey talks about the habit of “Putting First Things First”, and suggests that Tasks on the To Do list be broken out into four Quadrants.
    </h6>
    <div class="clean-bullets">
        <ul>
            <li>Quadrant I: Important / Urgent</li>
            <li>Quadrant II: Important / Not Urgent</li>
            <li>Quadrant III: Not Important / Urgent</li>
            <li>Quadrant IV: Not Important / Not Urgent</li>
        </ul>
    </div>
    <img src="~/img/Priority-Matrix-Method.png" />
    <h5>
        This tool will allow you to build your own To Do list to help you manage your time more effectively.
    </h5>
</div>
